body {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

.authWrapper .authContainer .authFlex {
  position: relative;
  height: 100vh;
  background-image: url("../../public/images/auth-back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.authWrapper .authContainer .authFlex .authPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 20px;
}

.authWrapper .authContainer .authFlex .authPlay .authControls {
  height: 40px;
  width: 100%;
  margin-bottom: 40px !important;
}

.authWrapper .authContainer .authFlex .authPlay .authControls .thecontrols .showregform {
  width: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  border-bottom: 3px solid cyan;
}

.authWrapper .authContainer .authFlex .authPlay .authControls .thecontrols .showlogform {
  width: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
  font-size: 30px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm {
  width: 50%;
  padding: 20px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .register .reg-form, .authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login .reg-form {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .register .reg-form .submit-btn, .authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login .reg-form .submit-btn {
  display: block;
  outline: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#14a9ff), to(#0088f0)) !important;
  background: linear-gradient(to bottom right, #14a9ff, #0088f0) !important;
  width: 97%;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border-radius: 5px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .register .google-login, .authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login .google-login {
  display: block;
  outline: none;
  background-color: white !important;
  width: 97%;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border-radius: 5px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px !important;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px !important;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .register .login, .authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login .login {
  display: block;
  border: 1px solid #3744ff;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 0;
  margin-left: -3px;
  color: #3744ff;
  border-radius: 5px;
  text-decoration: none;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegImage {
  width: 50%;
  padding: 20px;
}

.user-input-wrp {
  position: relative;
  width: 90%;
  margin-top: 5px;
}

.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid yellow !important;
  color: #fff;
  padding: 7px 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.user-input-wrp .inputText:focus,
.user-input-wrp .inputText:not(:focus):valid {
  background-color: transparent;
}

.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 23px;
  left: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  opacity: .5;
  color: white;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 8px;
  font-size: 13px;
  opacity: 1;
}

.err-box {
  display: none;
  padding: 5px 10px;
  color: red !important;
  background-color: #ffbbbb;
  border-left: 5px solid red;
  font-size: 14px;
  width: 88%;
}

.hideregform {
  display: none;
}

.hidelogform {
  display: none;
}
/*# sourceMappingURL=auth.css.map */