body {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

.authWrapper .authContainer .authFlex {
  position: relative;
  height: 100vh;
  background-color: #f8f8f8;
}

.authWrapper .authContainer .authFlex .authPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  min-height: 500px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm {
  width: 50%;
  padding: 20px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm h1 {
  margin: 0;
  color: #3f3f3f;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm p {
  margin: 0;
  color: #3f3f3f;
  margin-bottom: 10px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .form .submit-btn {
  display: block;
  outline: none;
  background-color: #3744ff;
  width: 97%;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border-radius: 5px;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .google-login {
  display: block;
  outline: none;
  background-color: #f1f1f1 !important;
  width: 97%;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border-radius: 5px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegForm .login {
  display: block;
  border: 1px solid #3744ff;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 0;
  margin-left: -3px;
  color: #3744ff;
  border-radius: 5px;
  text-decoration: none;
}

.authWrapper .authContainer .authFlex .authPlay .authReg .authRegFlex .authRegImage {
  width: 50%;
  padding: 20px;
}

.user-input-wrp {
  position: relative;
  width: 90%;
  margin-top: 5px;
}

.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 7px 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff;
}

.user-input-wrp .inputText:focus,
.user-input-wrp .inputText:not(:focus):valid {
  background-color: #ffdba6;
}

.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 23px;
  left: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  opacity: .5;
  color: #5f5f5f;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 8px;
  font-size: 13px;
  opacity: 1;
}

.err-box {
  display: none;
  padding: 5px 10px;
  color: red !important;
  background-color: #ffbbbb;
  border-left: 5px solid red;
  font-size: 14px;
  width: 88%;
}
/*# sourceMappingURL=auth.css.map */