body{
    padding: 0;
    margin: 0;
    border-style: border-box;
}
.authWrapper{
    .authContainer{
        .authFlex{
            position: relative;
            height: 100vh;
            background-color: #f8f8f8;
            .authPlay{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                min-height: 500px;
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .authReg{
                    .authRegFlex{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        .authRegForm{
                            width: 50%;
                            padding: 20px;
                            h1{
                                margin: 0;
                                color: rgb(63, 63, 63);
                            }
                            p{
                                margin: 0;
                                color: rgb(63, 63, 63);
                                margin-bottom: 10px;
                            }
                            .form{
                                .submit-btn{
                                    display: block;
                                    outline: none;
                                    background-color: rgb(55, 68, 255);
                                    width: 97%;
                                    cursor: pointer;
                                    border: none;
                                    padding: 10px 20px;
                                    margin-top: 10px;					
                                    color: #fff;
                                    border-radius: 5px;
                                }
                            }
                            .google-login{
                                display: block;
                                outline: none;
                                background-color: rgb(241, 241, 241) !important;
                                width: 97%;
                                cursor: pointer;
                                border: none;
                                padding: 10px 20px;
                                margin-top: 10px;					
                                color: #fff;
                                border-radius: 5px !important;
                                box-shadow: none !important;
                            }
                            .login{
                                display: block;
                                border: 1px solid rgb(55, 68, 255);
                                outline: none;
                                padding: 10px 20px;
                                text-align: center;
                                cursor: pointer;
                                margin: 10px;
                                margin-bottom: 0;
                                margin-left: -3px;				
                                color: rgb(55, 68, 255);
                                border-radius: 5px;
                                text-decoration: none;
                            }
                        }
                        .authRegImage{
                            width: 50%;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

.user-input-wrp {
position: relative;
width: 90%;
margin-top: 5px;
}
.user-input-wrp .inputText{
width: 100%;
outline: none;
border: none;
border-bottom: 1px solid rgb(211, 211, 211);
padding: 7px 10px;
box-shadow: none !important;
background-color: #fff;
}
.user-input-wrp .inputText:focus,
.user-input-wrp .inputText:not(:focus):valid{
background-color: rgb(255, 219, 166);
}
.user-input-wrp .floating-label {
position: absolute;
pointer-events: none;
top: 23px;
left: 10px;
transition: 0.2s ease all;
opacity: .5;
color: rgb(95, 95, 95);
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
top: 0px;
left: 8px;
font-size: 13px;
opacity: 1;
}
.err-box{
display: none;
padding: 5px 10px;
color: red !important;
background-color: rgb(255, 187, 187);
border-left: 5px solid red;
font-size: 14px;
width: 88%;
}